@{
  Layout = "_Layout";
}
<h1>Eau Claire's Salon</h1>
@* <h3><a href='/Restaurants'>Show Restaurants</a></h3> *@
<h3>@Html.ActionLink("View all stylists", "Index", "Stylist")</h3>
<h3>@Html.ActionLink("Add a new client", "Create", "Client")</h3>