@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Delete this stylist from your list?</h2>

@Html.DisplayNameFor(model => model.StylistName): @Html.DisplayFor(model => model.StylistName)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to List", "Index")
